* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top left, #0b0c10, #1d2029);
}

p {
  opacity: 0;
  box-sizing: border-box;
  background-color: rgb(51, 51, 51);
  position: absolute;
  top: -20%;
  left: 0%;
  text-align: center;
  width: auto;
  padding-right: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: whitesmoke;
  text-align: right;
  border-radius: 12px;
  font-size: 16px;
}

.inv:hover + .inv {
  box-sizing: border-box;
  opacity: 1 !important;
}

#calc-app {
  background-color: rgb(39, 45, 51);
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 7%;
  padding-bottom: 7%;
  border-radius: 18px;
  position: absolute;
  top: 20%;
  left: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-content: center;
  justify-content: center;
  width: 320px;
  height: 320px;
}

#screen-cont {
  grid-row: 1 / 1;
  grid-column: 1/5;
  background-color: #d1d1d1;
  border-radius: 10px;
}

#screen {
  box-sizing: border-box;
  font-size: 28px;
  color: #53565a;
  align-self: center;
  justify-self: center;
  text-align: right;
  width: 100%;
  height: auto;
  background-color: #e2e2e2;
  border-radius: 8px;
  padding: 0.5em 0.25em;
  transition: background-color 200ms;
}

#screen:focus {
  background-color: transparent;
  outline: #36424d solid 2px;
}


.op-b, .num-b, #dot-b, #equals-b, #cl-b {
  width: 100%;
  height: 100%;
  color: #1b1b1b;
  box-sizing: border-box;
  padding: 2em;
  font-size: 16px;
  background-color: #53565a;
  border-radius: 14px;
  text-align: center;
}

.op-b:hover, .num-b:hover, #equals-b:hover, #dot-b:hover, #cl-b:hover {
  cursor: pointer;
  background-color: rgb(145, 145, 145);
  transition: background-color 200ms;
}
